.container_header{
    display: flex;
    background-color: silver;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 50px;
}
.container_body{
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 4;
}
.child_body{
    background-color: silver;
    width: 100px;
    height: 50px;
}
.container_bot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: silver;
    margin-top: 10px;
}
.child_bot{
     ;
}
.container_foot{
    margin-top: 10px;
    display: flex;
    background-color: silver;
    width: 400px;
    height: 50px;
    align-items: center;
    justify-content: center;
} 