

body {
    margin: 0;
    font-family: "Wix Madefor Text", sans-serif;
}
* {
    margin: 0;
    color: #fff;
}
.container {
    background-color: #171717;
    width: 100%;
    height: 100vh;
}

.main {
    padding-left: calc(240px + 55px);
}

.main--banner {
    width: 100%;

}




/* sidebar left */
.sidebar--left {
    width: 240px;
    height: 100vh;
    background-color: #272727;
    position: fixed;
    top: 0;
    left: 0;
    border-right: 1px solid #7A8580;
}
.logo--wrapper {
    width: 100%;
    height: auto;
    padding: 48px 45px;
}
.sidebar__left__menu {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.sidebar__left__menu--item {
    padding: 12px 40px;
    display: flex;
    gap: 16px;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.sidebar__left__menu--item::after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.2;
}
.sidebar__left__menu--item:hover::after {
    background-image: linear-gradient(to right, #b2b2b2, #ffffff00);
}
.sidebar__left__menu--item > span {
    opacity: 0.72;
}
.sidebar__left__menu--item > img {
    width: 20px;
    height: 20px;
}
.sidebar__left__menu--item--title {
    padding: 12px 40px;
    display: flex;
    justify-content: space-between;
}
/* end sidebar left */

/* musicbar */
.musicbar {
    height: 75px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #272727;
    border-top: 1px solid #7A8580;
}
/* end musicbar */